* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* share style */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn{
    display: inline-flex;   
    align-items: center;     
    justify-content: center; 
    gap: 8px;
    /* uprer gulo button icon center anar jonoo */
    background-color: #469165;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* research on internet then I success */
/* hover effect */
.btn, .btn2, .top-btn {
    transition: all 0.3s ease;
}
/* button 1 */
.top-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  }
/* button 2 */
.btn:hover {
  background-color: #357a52;
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
/* button 3 */
.button-group .btn2:hover {
  background-color: white;
  color: #469165;
  border-color: white;
}




/* main style */
#nav-bar{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
 .menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
  }
  .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
  }
  #banner{
    background: url(../assets/hero-bg.png),no-repeat;
    padding: 70px 120px 134px;

  }
 .banner-container{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
   .banner-container .top-btn{
    padding: 8px 12px 8px 34px;
    font-size: 16px;
    color: rgba(70, 145, 101, 1);
    background-color:rgba(255, 255, 255, 1);;
    /* border: none; */
    border-radius: 1000px;
   }
   .banner-heading h1{
    font-size: 72px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
   }
   .banner-heading span{
    font-size: 72px;
    font-weight: 700;
    color: rgba(48, 184, 104, 1)
   }
    .hero-des p{
      font-size: 18px;
      color: #FFFFFF;
    }
    .button-group{
      display: flex;
      gap: 16px;
    }
    .button-group .btn2{
      border: 1px solid rgba(255, 255, 255, 1);
      border-radius: 4px;
      padding: 12px 16px 12px 16px;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
      background: transparent;
      align-items: center;
      cursor: pointer;
    }
    #notes{
      padding-top: 60px;
    }
  #notes .notes-container{
    max-width: 1360px;
    width: 85%;
    display: flex;
    margin: 0 auto;
    text-align: center;
     display: flex;
   justify-content: space-between;
   gap: 24px;

  }
  .notes-heading h2{
    font-size: 48px;
    color: #001931;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 16px;
}
  .notes-heading{
    margin: 0 auto;
    text-align: center;
  }
.notes-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-card{
  width: 322px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  
background: rgba(255, 255, 255, 1);
}

.icon-circle {
    width: 60px;             
    height: 60px;           
    background-color:rgba(249, 85, 85, 1);
    border-radius: 50%;     
    
    display: flex;          
    justify-content: center; 
    margin: 60px auto 24px;
  }
  .notes-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 26px;
  }
  .notes-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
  }
  #second-brain{
    padding-top: 120px;
  }
#second-brain .container{
  max-width: 1360px;
  width: 85%;
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 0 auto;
}
 #second-brain .brain-image{
  width: 600px;
  border-radius: 12px;
  /* height: 600px; */
 }
#second-brain span{
  font-size: 16px;
  color: #469165;
  margin-bottom: 16px;
  display: inline-block;
}
#second-brain h2{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
#second-brain p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.features-list {
    list-style: none;
    padding: 0;
}
.features-list li {
    display: flex;         
    align-items: center;   
    gap: 15px;            
    margin-bottom: 18px;
    font-size: 18px;
    color: #001931;
  }
  .features-list li img {
    width: 24px;
    height: 24px;
  }
  #early-access{
    padding: 120px;
    
  }

 #early-access .container {
  
    
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    
 }
  .early-access-card { 
   padding:  80px 40px 80px 40px;
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    
}

  #early-access .container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
  }